<template>
<div style="background-color:lightgray;">
<h3 style="color:blue">String Interpolation And Data Binding</h3>
<p> Title: {{ carName }}</p>
<p> Released: {{  releasedYear }} </p>

<p>The car is {{ isCarOld(releasedYear) ? 'old' : 'new' }}.</p>

<div v-bind:title="carName">Hover your mouse here to know the car name!</div>
</div>
</template>

<script>
export default 
{
    data()
    {
        return {
            carName: "Hyundai Verna",
            releasedYear: 2020,
         };

     },
     methods:{
       isCarOld:function(releasedYear)
       {
         return releasedYear < 2010;
       }
     }

};
</script>
<style scoped>
</style>