<template>
<div style="background-color:lightgray;">
<h3 style="color:blue">Handling click functions using buttons.</h3><br>
  <p style="font-size: 23px;color:firebrick;"><b>Username:</b> <input type="text" v-model="login"/></p>
 <p style="font-size: 23px;color:firebrick"><b>Password:</b> <input type="password" v-model="password"/></p>
 <button v-on:click="submit">Login</button><br> <br> 
</div>
</template>

<script>
export default 
{
    data()
    {
        return {
            login: '',
         password:'',
        };
    },
    methods: {
       submit () {
           alert("Login successful !");
           console.log("Username :"+this.login +"\nPassword :"+this.password);
       }
   }
};
</script>
<style scoped>

</style>


