<template>
    <div style="background-color:lightgray">
        <h4>{{msg}}</h4><button @click="toParent">send msg to parent</button>
    </div>
</template>

<script>
export default {
    name:"Child",
    props:{
        msg:String
    },
    methods:{
        toParent: function(){
            this.$emit("changeMsg","This is from child component");
        }
    }
}
</script>

<style scoped>

</style>