<template>
<div style="background-color:lightgray;">
<h3 style="color:blue">Computed property</h3><br>
<p>Sofia and john are 20 years old.Sofia's birthday is in january,john's birthday is in january</p>
  <button v-on:click="a++"> Click to increase sofia's age by 1 year</button>
  <button v-on:click="b++"> Click to increase john's age by 1 year</button>
  <p> Increase sofia by {{ a }} years</p>
  <p> Increase john by by {{ b }} years</p>
  <p>Sofia after {{ a }} years={{ addToA }}</p>
  <p>John after {{ b }} years={{ addToB }}</p>
</div>
</template>

<script>
export default 
{
    data()
    {
        return {
           age:20,
           a:0,
           b:0
        }
    }, 
    computed:{
         addToA(){
                return this.a+this.age;
            },
            addToB(){
                return this.b+this.age;
            }
    }   
};
</script>
<style scoped>

</style>
