<template>
<div style="background-color:lightgray;">
<h3 style="color:blue">Conditional rendering components</h3><br>
  <p>If condition </p>
  <span v-if="rainy">Dont water the plants</span>
  <br><br>
  <p>If-else condition</p>
  <span v-if="marks>=40">Congratulations ,you are passed in your examinations.Work harder next time.</span>
  <span v-else>You have failed.</span><br>
  <p>
    <p>if,else-if,else condition </p>
    <span v-if="percentage>=80">grade="A"</span>
    <span v-else-if="percentage>=60">grade="B"</span>
    <span v-else-if="percentage>=40">grade="C"</span>
    <span v-else>Fail</span>
</div>
</template>

<script>
export default 
{
    data()
    {
        return{
           rainy:true,
           marks:82,
           percentage:90
        };
    },
   
};
</script>
<style scoped>
p
{
    color:cadetblue;
}
</style>