<template>
<div style="background-color:lightgray;">
<h3 style="color:blue">Life Cycle Hooks</h3><br>
  <p style="font-size: 23px;color:firebrick;"><b>Username:</b> <input type="text" v-model="login"/></p>
 <p style="font-size: 23px;color:firebrick"><b>Password:</b> <input type="password" v-model="password"/></p>
 <button v-on:click="submit">Login</button><br> <br> 
</div>
</template>

<script>
export default 
{
    data()
    {
        return {
            login: '',
         password:'',
        }
    },
    methods: {
       submit () {
           alert("Login successful !");
           console.log("Username :"+this.login +"\nPassword :"+this.password);
           this.$destroy();
       },
   },
    beforeCreate(){
         console.log("BeforeCreate component is created")
    },
    created() {
        console.log("Component created")
    },
    beforeMount() {
        console.log("Before the component is mounted")
    },
    mounted() {
        console.log("Component is mounted")
    },
    beforeUpdate() {
        console.log("Before the component is updated")
    },
    updated()  {
        console.log("Component updated")
    },
    beforeDestroy()  {
        console.log("Before the component is destroyed")
    },
    destroyed() {
        console.log("Component is destroyed")
    },
}
</script>
<style scoped>

</style>





<!--<template>
<div style="background-color:lightgray;">
<h3 style="color:blue">Handling click functions using buttons.</h3><br>
  
</div>
</template>

<script>
export default 
{
    data()
    {
        return {
           
        };
    },
   
};
</script>
<style scoped>

</style>-->


