<template>
<div style="background-color:lightgray;">
<h3 style="color:blue">Event Modifier And Key Modifier</h3><br>
<p>@onclick.once event modifier</p>
<br><br>
  <a
  href="https://www.google.com"
  target="_blank"
  @click="demo">Google</a><br><br>

<p>@click.prevent modifier</p>
<br><br>
  <a
  href="https://www.google.com"
  target="_blank"
  @click.prevent="demo1">Google</a><br><br>
  <p>Key modifier</p>

<input type="text" v-model="msg" @keyup.enter="demo2">


</div>
</template>

<script>
export default 
{
    data()
    {
        return{
          isSafe: true,   
          msg: " ",
        }
    },
    methods: {
        demo() {
      alert("Link clicked");
    },
    demo1()
    {
        alert("Prevent modifier");
    },
    demo2()
    {
      console.log(this.msg);
    }
    }
   
};
</script>
<style scoped>

</style>