<template>
    <div style="background-color:lightgray;">
        <h3 style="color:blue"> Send data from parent to child and emit data from child and capture it in parent.</h3>
        <Child :msg="data" @changeMsg="changedMsg($event)"/>
    </div>
</template>

<script>

import Child from './Child';

export default {
    name:"Parent",
    data:()=>{
        return{
            data:"This is from parent component"
        }
    },
    components:{
        Child
    },
    methods:{
        changedMsg: function(value){
            this.data=value;
        }
    }
}
</script>

<style scoped>

</style>