<template>
<div style="background-color:lightgray;">
     <h2 v-html="rawHtml"></h2><br>
                <h5 >Reverse of the string("This message will be reversed is:"):{{ reverse ? 'Yes' : 'No' }} {{ message.split('').reverse().join('') }}</h5><br><br>
                <h4 v-bind:class="obj">Message reversed !</h4> 
</div>
</template>

<script>
export default 
{
    data()
    {
        return{
      rawHtml:'<div style="font-style:cursive;text-indent:bold;margin-right:400px;margin-left:400px;background-color:pink;color:white;font-size:24px;">Bind raw Html,use JS expressions</div>',
     reverse:true,
     message:"This message will be reversed.",
      obj: {
     'text-success':true,
     },
     }
    }
 };
</script>
<style scoped>

</style>






















<!--<template>
<div style="background-color:lightgray;">
<h3 style="color:blue">Handling click functions using buttons.</h3><br>
  
</div>
</template>

<script>
export default 
{
    data()
    {

    },
};
</script>
<style scoped>

</style>
-->


