<template>
  <div id="app">
    <BindAttributes /><br>
    <Buttons /><br>
    <LifeCycleHooks /><br>
    <RawHtml /><br>
    <ComputedProperty /><br>
    <Conditionals /><br>
    <Modifiers /><br>
    <Parent />
    <Child />
  </div>
</template>

<script>
import BindAttributes from "./components/BindAttributes.vue"
import Buttons from "./components/Buttons.vue"
import LifeCycleHooks from "./components/LifeCycleHooks"
import RawHtml from "./components/RawHtml.vue"
import ComputedProperty from "./components/ComputedProperty.vue"
import Conditionals from "./components/Conditionals.vue"
import Modifiers from "./components/Modifiers.vue"
import Parent from "./components/Parent"
import Child from "./components/Child"
export default {
  name: 'App',
  components: 
  {
    BindAttributes,
    Buttons,
    LifeCycleHooks,
    RawHtml,
    ComputedProperty,
    Conditionals,
    Modifiers,
    Parent,
    Child,
  },
  data()
  {
    return{

    }
  },
}
</script>

<style>
#app 
{
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
